* {
  font-family: arial;
}

.logo {
  position: absolute;
  top: 40px;
  right: 50px;
}

.header {
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.2);
}

.nav {
  position: absolute;
  top: 125px;
  right: 0px;
  left: auto;
  width: 100%;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
  width: 16.666%;
  border-bottom: 1.5px solid grey;
}

li a {
  display: block;
  background: linear-gradient(to right, darkorange , violet);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
  padding: 10px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: lightgrey;
}

.active {
  background-color: black;
}

li.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 16.666%;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
}
