* {
  font-family: arial;
}

.logo {
  margin-top: 20px;
  margin-left: 100px;
  margin-right: auto;
  display: block;
}

.header {
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.2);
}

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 100px;
  margin-right: auto;
  padding-top: 10px;
  width: 100%;
  text-align: center;
  background: linear-gradient(to bottom, #8061c2 , #382a54);
  -webkit-text-fill-color: white;
}
